.logo img{
    margin-left: 30px;
    height: 150px;
    object-fit: cover;
}

.header-area .main-header-area .say_hello a{
    padding: 0px 10px;
}
.flaticon-bell{
  margin-left: 0px;
}

.single_delicious .thumb img{
    width: 220px;
    height: 220px;
    object-fit: cover;
}
.info{
    margin-top: 30px;
}
.info h4{
    color: #22F17C;
}
.available{
    margin-left: 5px;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: #22F17C;
}
.login{
    background: #f9f9f9;
    padding: 50px 0px;
    min-height: 785px;
}
.login .logo img{
    margin-left: 0px;
}

.lgform{
    padding: 0px 30px;
    width: 100%;
    min-height: 260px;
    border: 0px solid;
    background: #fff;
    border-radius: 10px;
}
.lgform label{
    margin-top: 15px;
}
.lgform input[type=text], select {
  width: 100%;
  padding: 5px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  background: rgb(232, 240, 254);
}
.lgform input[type=password], select {
    width: 100%;
    padding: 5px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    background: rgb(232, 240, 254);
  }

  .lgform input[type=submit] {
    width: 100%;
    background-color: #DB9A64;
    color: white;
    padding: 10px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .lgform input[type=submit]:hover {
    background-color: #DB9A64;
    opacity: 0.9;
  }

  .create input[type=submit] {
      width: 100%;
      margin: 15px 0px;
  }

  .sgup{
      background: #1A0D01;
      
  }
  .signup{
    background: #f9f9f9;
    padding: 180px 0px;
    min-height: 785px;
  }
  .sgform{
    padding: 0px 30px;
    width: 100%;
    min-height: 460px;
    border: 0px solid;
    background: #fff;
    border-radius: 10px;
}
.sgform label{
    margin-top: 15px;
}
.sgform input[type=text], select {
    width: 100%;
    padding: 5px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    background: rgb(232, 240, 254);
  }
  .sgform input[type=password], select {
      width: 100%;
      padding: 5px 20px;
      margin: 8px 0;
      display: inline-block;
      border: 1px solid #ccc;
      border-radius: 4px;
      box-sizing: border-box;
      background: rgb(232, 240, 254);
    }
  
    .sgform input[type=submit] {
      width: 100%;
      background-color: #DB9A64;
      color: white;
      padding: 10px 20px;
      margin: 8px 0;
      border: none;
      border-radius: 4px;
      cursor: pointer;
    }
    
    .sgform input[type=submit]:hover {
      background-color: #DB9A64;
      opacity: 0.9;
    }
    .menu{
      padding: 50px 0px;
    }

    .wrapper{
      width:100%;
    }
    @media(max-width:992px){
     .wrapper{
      width:100%;
    } 
    }
    .panel-heading {
      padding: 0;
      border:0;
      background: #E6EAEA;
    }
    .panel-title>a, .panel-title>a:active{
      display:block;
      padding:15px;
      color:#555;
      font-size:16px;
      font-weight:bold;
      text-transform:uppercase;
      letter-spacing:1px;
      word-spacing:3px;
      text-decoration:none;
    }
    .panel-heading  a:before {
       font-family: "Poppins", sans-serif;
       content: "\e114";
       float: right;
       transition: all 0.5s;
    }
    .panel-heading.active a:before {
      -webkit-transform: rotate(180deg);
      -moz-transform: rotate(180deg);
      transform: rotate(180deg);
    } 

    .thumb{
      margin-bottom: 10px;
    }
    .info{
      margin-bottom: 10px;
    }
    .food{
      margin-left: 0;
      margin-right: 0;
    }
    .footer_logo h3{
      color: white;
    }

    .site-section {
      font-family: "Poppins", sans-serif;
      padding: 2.5em 0; }
      @media (min-width: 768px) {
        .site-section h3{
          font-family: "Philosopher", sans-serif;
        }
        .site-section {
          padding: 5em 0; } }
      .site-section.site-section-sm {
        padding: 4em 0; }
    
    .site-section-heading {
      font-size: 30px;
      color: #25262a;
      position: relative; }
      .site-section-heading:before {
        content: "";
        left: 0%;
        top: 0;
        position: absolute;
        width: 40px;
        height: 2px;
        background: #7971ea; }
      .site-section-heading.text-center:before {
        content: "";
        left: 50%;
        top: 0;
        -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        transform: translateX(-50%);
        position: absolute;
        width: 40px;
        height: 2px;
        background: #7971ea; }

        .check img{
          width: 200px;
          height: auto;
          object-fit: cover;
        }

        /* alert */

        .alert {
          border: 0;
          border-radius: 0.1875rem;
          color: #FFFFFF;
          padding-top: .9rem;
          padding-bottom: .9rem;
          position: relative;
      }
      
      .alert.alert-success {
          background-color: #1be611;
      }
      
      .alert.alert-danger {
          background-color: #ff5050;
      }
      
      .alert.alert-warning {
          background-color: #ffbc50;
      }
      
      .alert.alert-info {
          background-color: #46b3ff;
      }
      
      .alert.alert-primary {
          background-color: #fa764b;
      }
      
      .alert i.fa,
      .alert i.now-ui-icons {
          font-size: 20px;
      }
      
      .alert .close {
          color: #FFFFFF !important;
          opacity: .9;
          text-shadow: none;
          line-height: 0;
          outline: 0;
      }
      
      .alert span[data-notify="icon"] {
          font-size: 22px;
          display: block;
          left: 19px;
          position: absolute;
          top: 50%;
          margin-top: -11px;
      }
      
      .alert button.close {
          position: absolute;
          right: 10px;
          top: 50%;
          margin-top: -13px;
          width: 25px;
          height: 25px;
          padding: 3px;
      }
      
      .alert .close~span {
          display: block;
          max-width: 89%;
      }
      
      .alert.alert-with-icon {
          padding-left: 65px;
      }
      .card [data-notify="container"].alert {
        min-width: auto;
        left: unset !important;
        right: unset !important;
    }

    @media screen and (max-width: 991px) {
      [data-notify="container"].alert {
          min-width: 400px;
      }
    }
    .alert span[data-notify="icon"] {
    font-size: 22px;
    display: block;
    left: 19px;
    position: absolute;
    top: 50%;
    margin-top: -11px;
}
